<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "LifAcc" %> - LifAcc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key == 'alert' ? 'warning' : 'info' %> alert-dismissible fade show" role="alert">
        <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <main role="main" class="container">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>

    <footer>
      <p class="text-center mt-5 mb-3 text-muted">&copy; 2020 LifAcc</p>
    </footer>
  </body>
</html>
